<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Welcome to Rental Cars</h1>
    

  <%= link_to "Sign in", new_user_session_path , class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up", new_user_registration_path , class: "btn btn-lg btn-primary" %>
</div>  
